header.dashboard-header {
  background-color: #cee7ff !important;
  border-bottom-color: #021f52 !important;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #000 !important;
}

header.dashboard-header nav #header {
  background-size: 50px 40px !important;
  background-image: url("https://yt3.ggpht.com/ytc/AKedOLT1sMUAbXZDIi0bqotSWnJwZnWEnR34EXYrwnX9kg=s88-c-k-c0x00ffffff-no-rj") !important;
}
