header.dashboard-header {
  background-color: #cee7ff !important;
  border-bottom-color: #021f52 !important;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #000 !important;
}

header.dashboard-header nav #header {
  background-size: 80px 70px !important;
  background-image: url("https://chambermaster.blob.core.windows.net/images/customers/1956/members/4687/logos/MEMBER_PAGE_HEADER/POLB_PC_h_2c.jpg") !important;
}
