header.dashboard-header {
  background-color: #ffffff !important;
  border-bottom-color: #000000 !important;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #000 !important;
}

header.dashboard-header nav #header {
  background-size: 100px 100px !important;
  background-image: url("https://images.squarespace-cdn.com/content/v1/5786ac009f7456109575af23/1580315112290-FKT6Y4CJ2FLX322AY7NH/uncomn_Logo_orange_FIN-01.jpg") !important;
}
